/*Sorted in alphabetical order by element, then class, then id */

*, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #FFF;
  background: linear-gradient(
    170deg,
    hsl(0, 0%, 100%),
    hsl(0, 0%, 100%) 65%,
    hsl(234, 67%, 97%) 65%,
    hsl(234, 67%, 97%) 100%
    );
}

/*pseudo-elements and pseudo-classes*/

button:hover {
  cursor: pointer;
  opacity: .9;
}

li:hover {
  color: #FFF;
  cursor: pointer;
}

/*general elements*/

span {
  color: hsl(113, 47%, 62%);
}

/*classes*/

.contact-info {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 450px;
}

.contact-number {
  line-height: 1.65;
}

.contact-section {
  background: hsl(248, 80%, 67%);
  display: flex;
  color: #FFF;
  display: inline-flex;
  height: 200px;
  padding: 100px 0 100px 150px;
  width: 90%;
}

.create-act-btn {
  background-color: hsl(248, 80%, 67%);
  border: none;
  border-radius: 7px;
  color: #FFF;
  font-size: 16px;
  margin: auto;
  padding: 10px;
  width: 250px;
}

.create-prompt {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  padding-left: 15px;
  width: 98%;
}

.buttons {
  justify-content: space-between;
  width: 450px;
}

.description {
  color: grey;
  display: flex;
  flex-direction: column;
  height: 150px;
  line-height: 1.5;
  margin: auto;
  margin-bottom: 150px;
  text-align: center;
  width: 60%;
}

.description-text {
  font-size: 19px;
  padding: 35px;
}

.domain-input {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  height: 50px;
  padding-left: 35px;
  width: 300px;
}

.home-prompt {
  background: linear-gradient(
    170deg,
    hsl(271, 68%, 32%),
    hsl(271, 68%, 32%) 15%, 
    hsl(270, 100%, 50%) 15%,
    hsl(270, 100%, 50%) 55%,
    hsl(248, 80%, 67%) 55%,
    hsl(248, 80%, 67%) 70%, 
    hsl(0, 0%, 100%) 70%,
    hsl(0, 0%, 100%) 100%
    );
  color: #FFF;
  min-height: 800px;
}

.list-item {
  color: hsl(0, 0%, 80%);
  margin: 15px;
}

.list-title {
  color: #FFF;
  font-weight: bold;
}

.main-heading {
  margin: auto;
  padding: 80px;
  width: 33%;
}

.main-prompt {
  font-size: 50px;
  letter-spacing: .4;
  margin: auto;
  padding: 30px 0;
  text-align: center;
  width: 94%;
}

.more-info {
  margin: auto;
  width: 80%;
}

.nav {
  display: inline-flex;
  font-size: 13px;
  justify-content: space-between;
  padding: 30px;
  width: 95%;
}

.nav-btns {
  display: inline-flex;
  font-size: 14px;
  justify-content: space-around;
  list-style: none;
  width: 600px;
}

.number,
.email {
  padding-bottom: 10px;
}

.prompt-desc {
  padding-bottom: 20px;
}

.prompt-down {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 50px;
  width: 37%;
}

.search {
  display: flex;
  width: 100%;
}

.service {
  background: hsl(3, 0%, 98%);
  border: 1px solid hsl(3, 0%, 88%);
  border-radius: 10px;
  display: flex;
  margin: 10px 15px;
  padding: 30px 30px 30px 0;
  width: 40%;
}

.services {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  margin: auto;
  width: 110%;
}

.service-cont {
  margin-top: 20px;
}

.subheader {
  font-size: 32px;
  font-weight: lighter;
  width: 200px;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 50px;
}

.subheader:after {
  content: '';
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  width: 50%;
  border-bottom: 1px solid black;
}

.title {
  font-weight: lighter;
  margin-left: 100px;
}

/*ids*/

#contact-btn {
  border-radius: 7px;
  box-shadow: 0 8px 15px -8px hsl(0, 0%, 50%);
  font-size: 16px;
  margin: 5px;
  width: 150px;
  padding: 10px;
  border: none;
}

#down-arrow-btn {
  background-color: hsl(113, 47%, 62%);
  border: none;
  border-radius: 40px;
  color: #FFF;
  height: 50px;
  margin: auto;
  width: 50px;
}

#search-btn {
  background-color: hsl(113, 47%, 62%);
  border: none;
  border-radius: 10px;
  color: #FFF;
  font-size: 14px;
  height: 50px;
  letter-spacing: .5px;
  margin-left: 5px;
  width: 100px;
}

#support-btn {
  background-color: hsl(113, 47%, 62%);
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px hsl(0, 0%, 24%);
  color: #FFF;
  font-weight: bolder;
  height: 30px;
  margin-top: -5px;
  padding: 7px;
  width: 100px;
}


/*tablet view*/

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .main-heading {
    width: 50%;
  }

  .search {
    margin: auto;
    width: 66%;
  }
}

/*mobile view*/

@media only screen and (max-width: 800px) {
  body, html {
    background-color: orange;
    width: 100%;
  }

  .contact-info {
    width: 100%;
  }

  .contact-section {
    flex-direction: column;
    font-size: 22px;
    height: 100%;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .create-prompt {
    padding: 100px 15px 100px 15px;
    width: initial;
  }

  .description {
    height: 100%;
  }

  .description-text {
    padding: 0;
    padding-bottom: 15px;
  }

  .domain-input {
    margin-bottom: 20px;
    width: 90%;
  }

  .home-prompt {
    width: 100%;
  }

  .list-title {
    font-size: 32px;
  }

  .main-heading {
    padding: 0;
    width: 100%;
  }

  .main-prompt {
    font-size: 42px;
  }

  .more-info {
    width: initial;
  }

  .nav {
    display: flex;
    flex-direction: column;
    width: 80%
  }

  .nav-btns {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    height: 100px;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
  }

  .prompt-desc {
    color: hsl(0, 0%, 24%);
    width: 100%;
  }
  
  .prompt-down {
    color: grey;
    padding: 80px 0px;
    width: 67%;
  }

  .search {
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 81%;
  }

  .service {
    width: 99%;
  }

  .services {
    height: 100%;
    width: 100%;
  }

  .title {
    display: block;
    font-size: 42px;
    margin-left: 0;
  }

  #contact-btn {
    margin: 25px;
  }

  #search-btn {
    font-size: 22px;
    width: 95%;
  }

  #support-btn {
    font-size: 16px;
    width: 50%;
  }
 }

 /*tv screen*/

 @media only screen and (min-width: 1450px) {

  .search {
    margin: auto;
    width: 66%;
}
 }