*, body {
  /* color: #FFF; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/*general elements*/

body {
  /* background: hsl(270, 100%, 50%); */
}

h1 {
  letter-spacing: .4;
  font-size: 42px;
}

/*classes*/

.contact-section {
  color: black;
  display: inline-flex;
}

.create-act-btn {
  background-color: hsl(270, 100%, 50%);
  border: none;
  border-radius: 8px;
  color: #FFF;
  font-size: 16px;
  margin: auto;
  padding: 10px;
  width: 250px;
}

.description {
  color: grey;
  display: flex;
  flex-direction: column;
  height: 150px;
  line-height: 1.5;
  margin: auto;
  margin-bottom: 150px;
  text-align: center;
  width: 50%;
}

.description-text {
  font-size: 19px;
  /* font-weight: lighter; */
  padding: 35px;
}

.domain-input {
  border: none;
  border-radius: 10px;
  height: 50px;
  padding-left: 25px;
  width: 300px;
}

.home-prompt {
  background: linear-gradient(
    170deg,
    hsl(271, 68%, 32%),
    hsl(271, 68%, 32%) 15%, 
    hsl(270, 100%, 50%) 15%,
    hsl(270, 100%, 50%) 55%,
    hsl(248, 80%, 67%) 55%,
    hsl(248, 80%, 67%) 70%, 
    hsl(0, 0%, 100%) 70%,
    hsl(0, 0%, 100%) 100%
    );
  color: #FFF;
  min-height: 700px;
  /*will add gradient to this section*/
}

.main-heading {
  margin: auto;
  padding: 100px;
  width: 33%;
}

.main-prompt {
  padding: 20px;
}

.nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.nav-btns {
  display: inline-flex;
}

.prompt-down {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 50px;
  width: 33%;
}

.service {
  width: 400px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  margin: auto;
  padding: 100px;
  justify-content: space-around;
  width: 80%;
}

/*ids*/

#down-arrow-btn {
  background-color: hsl(113, 47%, 62%);
  border: none;
  border-radius: 40px;
  color: #FFF;
  height: 50px;
  margin: auto;
  width: 50px;
}

#search-btn {
  background-color: hsl(113, 47%, 62%);
  border: none;
  border-radius: 10px;
  color: #FFF;
  height: 50px;
  width: 100px;
}